
#header {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: var(--white);
}

#header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#header input {
    background-color: #fff;
    outline: none;
    border: 2px solid var(--main);
    border-radius: 999px;
    height: 2rem;
    width: 20rem;
    padding: 0.5rem 0.75rem;
}

#header img {
    cursor: pointer;
}

.conta {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-transform: lowercase;
}

.conta a:nth-child(2) {
    background-color: var(--main);
    color: var(--white);
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
}

.conta a:nth-child(1) {
    border: solid 2px var(--main);
    padding: 0.5rem 1rem;
    border-radius: 999px;
}

#logo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1rem;
}

.profileImg {
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    object-fit: cover;
}

#menu {
    display: none !important;
    position: absolute;
    right: 1rem;
    top: 5.5rem;
    background-color: var(--white);

    width: 15rem;
    box-shadow: var(--sombra);
    border-radius: 0.5rem;
    overflow: hidden;
    flex-direction: column;
}

#menu h3 {
    font-weight: 500;
    padding: 0.5rem 0;
}

#menu.active {
    display: flex !important;
}

#menu .deslogar {
    width: 100%;
    background-color: var(--main);
    text-align: center;
    color: var(--white);
    padding: 0.25rem 0;
}

#menu .editarperfil {
    width: 100%;
    text-align: center;
    color: var(--black);
    padding: 0.25rem 0;
    margin: 0.5rem 0.5rem;
    
}
